<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lego Collection</title>
</head>
<body class="bg-gray-100">
  <div class="container mx-auto px-4 py-20 text-center">
      <h1 class="text-6xl font-bold">404</h1>
      <p class="text-xl mt-5 mb-10">Oops! The page you're looking for doesn't exist.</p>
      <a href="/" class="btn btn-primary">Go Home</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
            <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 rounded-t-none">
                    <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                    <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                    <li><a href="/lego/sets?theme=Books">Books</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>
    </div>
</body>
</html>