<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
  <header><%- include('partials/navbar', { page: '/about' }) %></header>

<body>
  <div class="container mx-auto">

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <div>
            <h1 class="text-5xl font-bold">About Me!</h1>
            <p class="py-6">All the details you need about me - the creative mind blending design with development.</p>

          </div>
        </div>
      </div>


    <div class="grid grid-cols-2 gap-2 text-center p-4">
        <div class="flex justify-center items-center">
            <img src="https://www.senecacollege.ca/content/dam/projects/seneca/campus-photos/king-campus.jpg" alt="senecacollege" class="rounded-lg shadow-xl" width="300" height="300" />
        </div>

        <div class="flex justify-center items-center">
          <p>As a student at Seneca Polytechnic, I, Vrunda Patel, am deeply engrossed in the world of Computer Programming and Analysis. Currently, my academic journey involves courses such as DBS (Database Management), WEB322 (Web Development), OOP (Object-Oriented Programming using C++), and SYD (Software Design and Analysis). Beyond the classroom, I immerse myself in the intricacies of coding challenges, software architecture exploration, and staying abreast of emerging tech trends. With an insatiable curiosity for innovation, I aspire to make meaningful contributions to the ever-evolving tech landscape while nurturing my passion for problem-solving and software development.</p>
        </div>
    </div>
      
      

</div>

</body>
</html>
  